---
import Button from "../Button.astro"
---

<section class="section speakers background">
  <div class="section__inner">
    <h2>Speakers</h2>
    <p>By bringing together speakers from all kinds of professional backgrounds, we’re creating an agenda packed with fresh knowledge you won’t find anywhere else
      Want to be one of the minds shaping that conversation?  If you want to share a game-changing topic or lead a hands-on workshop,  the call for speakers is open!
      </p>
    <Button class="success-btn">Call for speakers</Button>
  </div>
</section>

<style>
  .speakers {
    background-color: #ECECEC;
    padding: 100px 0;
  }

  .section__inner p {
    padding: 40px 0;
  }
</style>
