---
import Base from "../layouts/Base.astro";
import Section from "../components/Section.astro";
import Prices from "../components/Tickets/Prices.astro";
import FAQ from "../components/Tickets/FAQ.astro";

const title = "Tickets";
const description = "Ticket prices and availability";
---

<Base title={title} description={description} canonicalPath="/tickets">
  <Section>
    <span class="prose">
      <h1>CAKE conf early bird tickets</h1>
    </span>
  </Section>
  <Prices />
  <FAQ />
</Base>

<style>
  h1 {
    color: var(--main-pink);
  }
</style>
