---
import { site, type SiteNavItem } from "../content/site";
import Button from "./Button.astro";
import { allUrls } from "../assets/allUrls.js";

const { brand = site.name, nav = site.nav } = Astro.props as {
  brand?: string;
  nav?: SiteNavItem[];
};

const path = Astro.url.pathname;
const isActive = (href: string) => (href === "/" ? path === "/" : path.startsWith(href));
---

<header class="header">
  <div class="header__inner">
    <a class="header__brand" href="/">
      <img src="/logo.svg" alt="CAKE conf logo" width="140" height="140" />
    </a>
    <a href="/tickets">
      <Button class="success-btn">Get tickets</Button>
    </a>
    </div>
</header>
