---
import { site, type SiteNavItem } from "../content/site";

const { brand = site.name, nav = site.nav } = Astro.props as {
  brand?: string;
  nav?: SiteNavItem[];
};

const path = Astro.url.pathname;
const isActive = (href: string) => (href === "/" ? path === "/" : path.startsWith(href));
---

<header class="header">
  <div class="header__inner">
    <a class="header__brand" href="/">
      <img src="/logo-with-date.svg" alt="CAKE conf logo" width="100" height="100" /></a>
  </div>
</header>
